body {
    font-family: "Montserrat";
    text-align: center;
}

h2 {
  font-family: "Montserrat";
  font-size: 2.5rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  text-align: center;
}

h1 {
  font-family: "Montserrat";
  font-size: 4.5rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  text-align: center;
}

h3 {
  font-family: "Montserrat";
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  text-align: center;
}

p {
  font-family: "lato";
  font-size: 1.2rem;
  line-height: 1.6;
  margin-bottom: 30px;
  text-align: center;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  position: relative;
  height: 100vh;
  background-color: rgba(17, 15, 15, 0.156);
  color: white;
  text-align: center;
  padding-top: 50px;
  box-sizing: border-box;
  overflow: hidden;
}

video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
  opacity: 1.8;
}

/* CSS for nav bar */
nav .logo {
  width: 192;
}

nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #00000075;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav li {
  margin: 0 10px;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2rem;
  transition: all 0.3s ease;
  padding: 5px 10px;
  border-radius: 5px;
}

nav a:hover {
  background-color: white;
  color: black;
}

/* CSS for title */
.title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-shadow: 2px 2px #000;
}

/* Devotional */
.white-section {
  background-color: #567189;
  padding: 100px 0;
}

.devotional-image {
  border-radius: 100%;
  max-width: 70%;
  height: auto;
  display: block;
  margin: 5 auto;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.755);
}


@media (max-width: 767px) {
  .main-container {
      flex-direction: column;
  }

  .main-container h2 {
      margin-top: 30px;
      margin-bottom: 15px;
      text-align: center;
  }

  .devotional-image {
      margin-bottom: 30px;
  }
}

/* Church events */
.events-card {
  width: 50%;
  margin-bottom: 20px;
  text-align: center;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.803);
  border-radius: 15px;
  padding: 10px;
  background-color: whitesmoke;
}

.church-section {
  background-color: #fff;
  padding: 90px 0;
}

.church-image {
  border-radius: 50%;
  max-width: 90%;
  height: auto;
  display: block;
  margin: 150 0;
  box-shadow: 0 0 40px rgba(17, 16, 16, 0.799);

}


@media (max-width: 767px) {

  .church-image {
      margin-top: 30px;
  }
}


/* Youth minister */
.youth-card {
  width: 50%;
  margin-bottom: 20px;
  text-align: center;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.803);
  border-radius: 15px;
  padding: 10px;
  background-color: whitesmoke;
}

.youth-section {
  background-color: #567189;
  padding: 90px 0;
}



.youth-image {
  border-radius: 50%;
  max-width: 90%;
  height: auto;
  display: block;
  margin: 150;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.837);

}

@media (max-width: 767px) {

  .youth-image {
      margin-top: 30px;
  }
}

/* Children minister */
.children-card {
  width: 50%;
  margin-bottom: 20px;
  text-align: center;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.803);
  border-radius: 15px;
  padding: 10px;
  background-color: whitesmoke;
}

.kid-section {
  background-color: #fff;
  padding: 90px 0;
}


.kid-image {
  border-radius: 50%;
  max-width: 90%;
  height: auto;
  display: block;
  margin: 200 30;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.837);

}


@media (max-width: 767px) {

  .kid-image {
      margin-bottom: 20px;
  }
}

/* Card section */

.card-section {
  background-color: #567189;
  padding: 90px 0;
  text-align: center;
}

.card-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  width: 30%;
  margin-bottom: 20px;
  text-align: center;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.574);
  border-radius: 15px;
  padding: 10px;
  background-color: azure;
}

.card img {
  border-radius: 100%;
  max-width: 40%;
  height: auto;
  display: block;
  margin: 80 auto;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.632);
}



@media (max-width: 767px) {
  .card-container {
      flex-direction: column;
  }

  .card-container h2 {
      margin-top: 30px;
      margin-bottom: 15px;
      text-align: center;
  }

  .card-image {
      margin-bottom: 20px;
  }
}

/* OCC section */
.OCC-section {
  background-color: #fff;
  padding: 90px 0;
}



.occ-image {
  border-radius: 10%;
  max-width: 20%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  box-shadow: 0 0 40px rgba(17, 16, 16, 0.799);


}


@media (max-width: 767px) {

  .occ-image {
      margin-top: 30px;
  }
}

/* CDC section */
.cdc-section {
  background-color: #567189;
  padding: 20px 0;
}



.cdc-image {
  border-radius: 10%;
  max-width: 30%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  margin-top: 40px;
  box-shadow: 0 0 40px rgba(17, 16, 16, 0.799);
  background-color: #fff;

}



@media (max-width: 767px) {
  .main-container p {
      color: #fff
  }

  .cdc-image {
      margin-top: 30px;
  }
}

/* footer */


footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.social-icons {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.social-icons a {
  display: inline-block;
  margin: 0 5px;
}

.social-icons img {
  width: 30px;
  height: 30px;
}

.copyright {
  font-size: 14px;
}



.main-container {
  display: block;
  align-items: center;
  justify-content: center;

}

.specific-color {
  color: #fff;
}