body {
    font-family: "Montserrat";
    text-align: center;
}

li {
  font-family: "lato";
  font-size: 1.5rem;
  line-height: 1.5;
  font-style: italic;
}

h1 {
  font-size: 3.5rem;
  line-height: 1.5;
}

h3 {
  font-size: 1.5rem;
  line-height: 1.5;
  padding: 4%;
}

h4 {
  font-family: "lato";
  font-size: 1.5rem;
  line-height: 1.5;
  font-style: italic;
}

h5 {
  font-family: "lato";
  font-size: 2rem;
  line-height: 1.5;
  font-style: italic;
}

h1, h2, h3, h6 {
    font-family: "Montserrat";
    font-weight: bold;
  }

p {
  color: black;
  font-size: 1rem;
  font-weight: bold;
  font-family: "lato";
}

em {
  padding: 10px;
}


#logo .ibc-logo {
  padding-top: 40px;
}
/* navigation bar */
/* 
.navbar {
  padding: 3%;
  } */

  .navbar-brand {
    font-family: Ubuntu;
    font-size: 2rem;
  
  }
  .nav-item {
    padding: 0 18px;
  }
  .nav-link {
    font-size: 1.2rem;
    font-family: "Montserrat"
  }


  .section-logo {
    margin: 0;
  }
/* Title image */

.title-image {
 width: 60%;
 margin-left: 35%;
 border-radius: 100%;
}

.devotional-image {
  width: 10%;
  border-radius: 100%;
}

/* containers */

.container-fluid {
  padding: 2% 15%;
}

/* #title .container-fluid {
  text-align: left;
  padding: 3% 15% 5%;
} */

.colorred-section {
  background-color: #E38B29;
  color: #1A120B;
}

.logo-section {
  /* background-color: #E38B29; */
  color: #fff;
}

.white-section {
  background-color: #FDEEDC;
}

.devotional-container {
  padding: 3% 15% 5%;
  text-align: left;
}

/* Events section */

#events  {
  background-color: #FFD8A9;
}

.events-image {
  width: 12%;
  border-radius: 100%;
  margin: 20px;
}

.events-text {
  font-size: 3rem;
  line-height: 1.5;
  color: #1A120B
}

/* youth ministry */

.youth-color {
  background-color: #F1A661;
  color: #fff;
}
.youth-image {
  width: 200px;
  border-radius: 100%;
  margin-top: 50px;
}

#youth-carousel .carousel-inner {
  margin-top: 40px
}

.youth-text {
  margin-top: 15px;
  font-size: 3rem;
  line-height: 1.5;
  color: #1A120B
}

.carousel-youth-image {
  border-radius: 100%;
  width: 20%;
}

/* children ministry */

.children-color {
  background-color: #FFD8A9;
  color: #1A120B;
}

.children-image {
  width: 200px;
  border-radius: 100%;
  margin-top: 50px;
}

.children-text {
  margin: 15px 0px 10px 0px;
  font-size: 3rem;
  line-height: 1.5;
  color: #1A120B
}

#children-carousel .carousel-inner {
  margin-top: 40px
}

/* Worship Ministry */

.worship-color {
  background-color: #F1A661;
  color: #fff;
}

.worship-image {
  width: 200px;
  border-radius: 100%;
  margin-top: 50px;
}

.worship-text {
  margin-top: 15px;
  font-size: 3rem;
  line-height: 1.5;
  color: #1A120B
}

#worship-carousel .carousel-inner {
  margin-top: 40px
}

.button-color {
  color: #CE9461
}

.carousel-control-prev-icon, .carousel-control-next-icon {
  /* height: 50px;
  width: 50px; */
  outline: black;
  background-color: rgba(0, 0, 0, 0.3);
  /* background-size: 100%, 100%;
  border-radius: 50%;
  border: 1px solid black; */
}

/* Women Bible Study */


.wbs-box {
  padding: 5%;
}

.icon {
  color: #FDEEDC;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #DEA057;
}

.wbs-title {
  font-size: 1.5rem
}

.wbs-section {
 background-color: #FFF8EA;

}

.wbs-image {
  width: 30%;
  border-radius: 100%;
}

/* OCC */

.occ-section {
  text-align: center;
  background-color: #FFD8A9;
}

.occ-text {
  font-size: 1.5rem;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: bold;
}

.occ-image {
  width: 20%;
  border-radius: 100%;
  margin: 20px;
  
}

.occ-box {
  margin-top: 20px;
  text-align: center;
}

.card {
  background-color: #FDEEDC;
}

/* CDC section */

.cdc-section {
  text-align: left;
  background-color: #FDEEDC;
}

.cdc-image {
  width: 30%;
  margin-left: 450px;
  padding-bottom: 3%;
}

/* footer */

.social-icon {
  width: 10%
}


/* download section */
.download-button {
  margin: 5% 0% 5% 0;
}

.app-section{
  background-color: #E38B29;
}

.footer-section {
  background-color: #FDEEDC;
}


header {
  position: relative;
  background-color: black;
  height: 75vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

header video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

header .container {
  position: relative;
  z-index: 2;
}

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
}

/* Media Query for devices withi coarse pointers and no hover functionality */

/* This will use a fallback image instead of a video for devices that commonly do not support the HTML5 video element */

@media (pointer: coarse) and (hover: none) {
  header {
    background: url('https://source.unsplash.com/XT5OInaElMw/1600x900') black no-repeat center center scroll;
  }

  header video {
    display: none;
  }
}

.display-3 {
  font-family: "Montserrat";
  font-size: 5rem;
  font-weight: bold;
}

.lead{
  font-size: 3rem;
  font-family: "lato";
  color:#FFF8EA;
  
}